@import "styles/mixins";

.link {
  text-decoration: none;
  color: unset;
  transition: color .3s;

  &:hover {
    color: var(--pink);
  }

  p {
    @include media(mobile) {
      padding: 8px 0;
      text-align: center;
      border: 1px solid var(--yellow);
    }
  }
}
