.wrapper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 600px;
}

.circle {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid var(--black);
  border-radius: 50%;
  transition: background-color .5s;
  animation: move 10s infinite;

  &:hover {
    background-color: var(--green);
  }
}

@keyframes move {
  100% {
    transform: translate3d(550px, 250px, -1000px);
    opacity: 0;
  }
}

@for $i from 1 through 100 {
  .circle:nth-child(#{$i}){
    animation-delay: -$i * .2s;
    transform: translate3d( (random(1000) * 1px),  (random(1000) * 1px), ((500 + random(1000)) * 1px));
  }
}
